@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}



img {
    height: auto;
    width: auto;
}

body {
    background-color: whitesmoke;
}

header {
    position: sticky;
    top: 0px;
    width: 100%;
    height: auto;
    font-family: 'pacifico', sans-serif;
    background: #f4f4f4;
    box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.1);
    width: 100%;

}

p {
    font-family: "quicksand", sans-serif;
    font-weight: 420;
}

.inner-header {
    width: 90%;
    margin: 0 auto;
}

.logo {
    float: left;
    height: auto;
    color: gold;

}

.menu-btn {
    position: relative;
    top: 8px;
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-in-out;
}

.menu-btn_burger {
    width: 25px;
    height: 5px;
    background: black;
    border-radius: 5px;
    transition: all .5s ease-in-out;

}

.menu-btn_burger::before,
.menu-btn_burger::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 5px;
    background: black;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.menu-btn_burger::after {
    transform: translateY(7px);
}

.menu-btn_burger::before {
    transform: translateY(-7px);
}

/* mennu-btn animation */
.menu-btn.open .menu-btn_burger {
    transform: translateX(-40px);
    background: transparent;
}

.menu-btn.open .menu-btn_burger::before {
    transform: rotate(45deg) translate(28px, -28px);
}

.menu-btn.open .menu-btn_burger::after {
    transform: rotate(-45deg) translate(28px, 28px);
}

.desktop-nav {
    display: none;
}

.mobile-nav {
    clear: both;
    width: 100%;
    text-align: center;
    height: 0vh;
    visibility: hidden;
    opacity: 0;
    transition: height 300ms, visibility 0s, opacity 0.5s ease-in;

}

.mobile-nav.open {
    visibility: visible;
    opacity: 1;
    height: 200px;

}

.mobile-nav a {
    font-family: 'grandstander';
    line-height: 3;
    color: black;
    text-decoration: underline;
}

.mobile-nav li:hover {
    background-color: lightgrey;
}

.body-container {
    clear: both;
}

.flex-container {
    margin: 0;
    padding: 5%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

}

.writing {
    flex: 1;
}

.writing h1 {
    font-family: 'pacifico', sans-serif;
    font-weight: normal;
    font-size: x-large;
}

.dsc {
    font-size: large;
}

.isometric {
    margin: 10% auto;
    width: 100%;
}

#perks {
    padding: 2%;
    background-color: gold;
    width: 100%;

}

h2 {
    font-family: 'pacifico', sans-serif;
    text-align: center;
    font-weight: normal;
    font-size: x-large;
}

.block {
    padding: 4%;
    height: auto;
    background-color: white;
    margin: 3% 5%;
    width: 90%;
    border-radius: 20px;

}

.block h2 {
    font-family: 'pacifico', sans-serif;
    text-align: center;
    font-size: x-large;
    font-weight: 420;

}

.block img {
    margin: 5% 2%;
    width: 96%;
}

#tracking img {
    margin: 23% auto;
}

#door img {
    margin: 25% auto;
}

#map {
    margin: 10% auto;
    width: 100%;
}

table {
    box-shadow: 0 0 20px -10px #000000;
    border-radius: 15px;
    border-collapse: collapse;
    width: 90%;
    height: 200px;
    margin: 5% auto;
    font-family: 'quicksand';
    text-align: center;
}

table td {
    padding: 10px;
    font-size: 18px;
}

table tr:nth-child(even) {
    background: #d0d0d0bb;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 15px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 15px;
}

table td a {

    font-size: 15px;
    color: white;
    background-color: gold;
    padding: 8px;
    border-radius: 20px;
}

.fa-check {
    color: rgb(49, 49, 49);
}

.fa-times {
    color: rgb(105, 105, 105);
}

footer {
    font-family: 'quicksand';
    font-size: .7em;
    line-height: 1.7;
    display: flex;
    flex-flow: row wrap;
    color: white;
    width: 100%;
    height: 180px;
    background-color: #383838;
    padding-top: 15px;
    justify-content: space-around;
}

footer h3 {
    font-size: large;
}

.footer-ul-container {
    height: 150px;
}

.the-dev {
    width: 100%;
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    color: rgb(200, 200, 200);
    background-color: #444444;
    text-align: center;
}