@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

img {
    height: auto;
    width: auto;
}

body {
    background-color: white;
}

header {
    width: 100%;
    height: 80px;

}

.logo {
    float: left;
    height: 100%;
    font-family: 'pacifico',sans-serif;
    color: gold;
    font-size: x-large;
    font-weight: normal;
    margin-left: 10%;

}

.inner-header {
   
    display: block;
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

nav {
    float: right;
    position: relative;
    right: 10%;
    top: 16%;
}

li {
    float: left;
}

li a {
    font-family: 'pacifico', sans-serif;
    font-size: large;
    color: black;
    display: block;
    width: 118px;
    text-align: center;
    padding: 8px;
    margin: 2px;
}

li a:hover {
    border-bottom: 4px rgb(255, 229, 82) solid;
}
li:last-child a {
    border: 4px gold solid;
    border-radius: 30px;
}
li:last-child a:hover {
    border: 4px gold solid;
    background-color: gold;
    color: white;
}