@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

img {
    height: auto;
    width: auto;
}

/*--Header design--*/
header {
    width: 100%;
    height: 80px;

}

.logo {
    float: left;
    height: 100%;
    font-family: 'pacifico', sans-serif;
    color: gold;
    font-size: larger;
    font-weight: normal;
    margin-left: 40px;
    margin-top: 10px;

}

.inner-header {
    display: block;
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

nav {
    float: right;
    position: relative;
    right: 10%;
    top: 16%;
}

li {
    float: left;
}

li a {
    font-family: 'pacifico', sans-serif;
    font-size: large;
    color: black;
    display: block;
    width: 118px;
    text-align: center;
    padding: 8px;
    margin: 2px;
}

li a:hover {
    border-bottom: 4px rgb(255, 229, 82) solid;
}

li:last-child a {
    background-color: gold;
    border: 4px gold solid;
    border-radius: 30px;
    
}

li:last-child a:hover {
    border: 4px gold solid;
    background-color: gold;
    color: whitesmoke;
}
/* --header design-- */


/*--Body design--*/
body {
    background-color: whitesmoke;
}
.body-container {
    width: 100%;
    contain: content;
}

.first-section {
    margin:100px 0px;
    padding: 3% 5%;
    width: 100%;
    height: 600px;
}

.isometric {
    width: 50%;
    margin: auto;
}
 #phone-dude {
     float: right;
 }

.headings {
    font-family: 'pacifico', sans-serif;
    font-size: 50px;
    font-weight: 550;
}

.dsc {
    font-family: 'quicksand', sans-serif;
    font-size: 28px;
}

.writing {
    width: 40%;
    height:auto;
}
.first-writing {
    margin: 60px auto auto 20px;
    float: left;
}
.perks {
    background-color: rgba(255, 217, 0, 0.705);
    width: 100%;
    margin: 50px 0px;
    height: 750px;

}
.perks > h2 {
    text-align: center;
    font-family: 'pacifico', sans-serif;
    font-size: 45px;
    font-weight: 500;
    margin:22px;
}
.block-container{
    width: 100%;
    height: 90%;
    padding:0% 5%;
}
.block {
    background-color: white;
    float:left;
    width: 30%;
    height: 80%;
    border-radius: 30px;
    padding: 2%;
    margin:1.61rem;

}
.block img {
    width: 70%;
    margin: auto 15%;
}
.block h2 {
    font-family: 'quicksand',sans-serif;
    font-size: 30px;
    text-align: center;
}
.block p {
    font-size:20px;
    font-family:'quicksand',sans-serif;
    
}
.block:nth-child(2) p {
    font-size:20px;
    font-family:'quicksand',sans-serif;
    margin-top: 17%;

}
.block:nth-child(3) p {
    font-size:20px;
    font-family:'quicksand',sans-serif;
    margin-top: 21%;
}
#locations {
    padding: 2% 5%;
    width: 100%;
    height: 700px;
}
.second-writing {
    margin: 60px 20px auto auto;
    float: right;
}
#map {
    width: 40%;
    float: left;
}
/*--body design --*/
/*--footer--*/
/*--footer--*/