@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: transform 0.25s ease;
    list-style-type: none;

}



img {
    height: auto;
    width: auto;
}

body {
    background-color: #f5f5f5;
}

header {
    z-index: 1;
    position: sticky;
    top: 0px;
    width: 100%;
    height: auto;
    font-family: 'pacifico', sans-serif;
    background: #f4f4f4;
    box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.1);
    width: 100%;

}

p {
    font-family: "quicksand", sans-serif;
    font-weight: 420;
    text-align: justify;
}

.inner-header {
    width: 90%;
    margin: 0 auto;
}

.logo {
    float: left;
    height: auto;
    color: #ffd700;

}

.menu-btn {
    position: relative;
    top: 8px;
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-in-out;
}

.menu-btn_burger {
    width: 25px;
    height: 5px;
    background: black;
    border-radius: 5px;
    transition: all .5s ease-in-out;

}

.menu-btn_burger::before,
.menu-btn_burger::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 5px;
    background: black;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.menu-btn_burger::after {
    transform: translateY(7px);
}

.menu-btn_burger::before {
    transform: translateY(-7px);
}

/* mennu-btn animation */
.menu-btn.open .menu-btn_burger {
    transform: translateX(-40px);
    background: transparent;
}

.menu-btn.open .menu-btn_burger::before {
    transform: rotate(45deg) translate(28px, -28px);
}

.menu-btn.open .menu-btn_burger::after {
    transform: rotate(-45deg) translate(28px, 28px);
}

.desktop-nav {
    display: none;
}

.mobile-nav {
    clear: both;
    width: 100%;
    text-align: center;
    height: 0vh;
    visibility: hidden;
    opacity: 0;
    transition: height 300ms, visibility 0s, opacity 0.5s ease-in;

}

.mobile-nav.open {
    visibility: visible;
    opacity: 1;
    height: 200px;

}

.mobile-nav a {
    font-family: 'grandstander';
    line-height: 3;
    color: black;
    text-decoration: underline;
}

.mobile-nav li:hover {
    background-color: lightgrey;
}

.body-container {
    clear: both;
}

.section {
    font-family: 'quicksand';
    margin: 0;
    padding: 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;


}

.writing {
    margin: auto;
    width: 100%;
}

.writing h1 {
    font-family: 'pacifico', sans-serif;
    font-weight: normal;
    font-size: clamp(30px, 8vw, 45px);
    margin: 10px auto;
}

.dsc {
    font-size: large;
}


.isometric {
    margin: 10% auto;
    width: 100%;
}

#perks {
    padding: 5%;
    width: 100%;

}

h2 {
    font-family: 'pacifico', sans-serif;
    text-align: center;
    font-weight: normal;
    font-size: xx-large;
}

.block {
    padding: 5%;
    min-height: 360px;
    background-color: white;
    box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.5);
    margin: 6% auto;
    max-width: 90%;
    border-radius: 20px;
    transition: transform 0.25s ease;
}

.block:hover {
    transform: scale(1.05);

}

.block h2 {
    font-family: 'pacifico', sans-serif;
    text-align: center;
    font-size: x-large;
    font-weight: 420;

}

.block img {
    padding: 10px;
    margin: -4px 10%;
    width: 80%;
}

#tracking img {
    margin: 8% 10%;
}

#door img {
    margin: 10% 10%;
}



#map {
    margin: 10% 5%;
    width: 90%;
}

table {

    box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    border-collapse: collapse;
    width: 100%;
    height: 250px;
    margin: 5% auto;
    font-family: 'quicksand';
    font-size: 14px;
    text-align: center;
    background-color: white;
}

table:hover {
    transform: scale(1.05);

}

table tr:nth-child(-n+5) {
    border-bottom: 1px grey solid;
}

table tr:nth-child(even) {
    background-color: rgba(231, 231, 231, 0.555);
}



table tr:nth-child(-n+5) {
    border-bottom: 1px grey solid;
}

table tr:nth-child(6) td:first-child {
    border-bottom-left-radius: 15px;

}

table tr:nth-child(6) td:last-child {
    border-bottom-right-radius: 15px;

}

table tr:nth-child(6) td:last-child a {
    color: black;
    padding: 8px;
    background-color: rgb(250, 223, 73);
    border-radius: 15px;

}

table td:nth-child(-n+3) {
    border-right: 1px grey solid;
}

.fa-check {
    color: rgb(49, 49, 49);
}

.fa-times {
    color: rgb(105, 105, 105);
}

.flex {
    font-family: 'quicksand';
    font-size: .7em;
    line-height: 1.7;
    display: flex;
    flex-flow: row wrap;
    color: white;
    width: 100%;
    height: 180px;
    background-color: rgb(34, 34, 34);
    padding: 15px;
    justify-content: space-around;
}

footer h3 {
    font-size: large;
}

.footer-ul-container {
    height: 150px;
}

.the-dev {
    height: 40px;
    width: 100%;
    padding: 5px;
    font-family: 'quicksand', 'Times New Roman', Times, serif;
    font-size: 12px;
    color: whitesmoke;
    background-color: rgb(34, 34, 34);
    border-top: 1px rgb(34, 34, 34) solid;

}

.the-dev>p {
    font-size: xx-small;
    text-align: center;
}

form {
    width: 100%;
}

input,
textarea {
    font-family: 'quicksand';
    width: 100%;
    height: 20px;
    outline: none;
    border: none;
    border-bottom: 2px black solid;
    background-color: transparent;
    padding: 12px 10px;
    resize: none;
    transition: all 400ms 150ms;



}

input::placeholder,
textarea::placeholder {
    visibility: hidden;
}

textarea {
    height: 50px;
}

input:focus,
textarea:focus {
    outline: none;
    padding: 12px 10px;
    border-bottom: none;
}

input:focus::placeholder,
textarea:focus::placeholder {
    font-size: medium;
    font-weight: 500;
    visibility: visible;
}

input:focus {
    height: 40px;
}

textarea:focus {
    height: 180px;
}

.underline {
    background-color: gold;
    display: inline-block;
    height: 3px;
    transform: scale(0);
    transition: all 0.4s;
    width: 100%;
    margin-top: -2px;
    margin-bottom: 40px;
}

input:focus+.underline,
textarea:focus+.underline {
    transform: scale(1);
}


button {
    width: 60%;
    margin: auto 20%;
    height: auto;
    border: none;
    background-color: #ffd700;
    font-family: 'pacifico';
    font-size: 22px;
    font-weight: 300;
}