/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px) {
    header {
        position: fixed;
    }

    .menu-btn {
        display: none;
    }

    .mobile-nav {
        display: none;
    }

    .desktop-nav {
        display: block;
        float: right;
    }

    .desktop-nav li {
        float: left;
        margin: 3px 7px;
    }

    .desktop-nav li a {
        display: inline-block;
        color: black;
        padding: 8px;
        font-size: large;
    }

    .contact-button {

        border: 2px gold solid;
        border-radius: 30px;
    }

    .contact-button:hover {
        background-color: gold;
        border: 2px gold solid;
        border-radius: 30px;
    }


    .section:first-child {
        margin-top: 30px;
    }

    .isometric {
        width: 90%;
        margin: 8% 5%;
    }

    #perks {
        padding: 2%;
        flex-direction: row;
    }

    .block {
        padding: 1%;
        width: 33%;
        transform: scale(0.9);

    }

    .block:hover {
        transform: scale(1);
    }

    #map {
        width: 70%;
        margin: 6% 15% 2%;
    }


}







/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}